* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-riva: #0a2a66;
  --azul-riva-claro: #f5f8fc;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--azul-riva-claro);
  overflow-x: hidden;
}

.App {
  width: 100%;
  min-height: 100vh;
}


/* =========================
   GALERIA GLOBAL
========================= */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
}