.image-grid {
display:grid;
grid-template-columns:
repeat(4, minmax(180px,1fr));
gap:20px;
width:100%;
}
/* TABLET */
@media(max-width:1200px){
.image-grid{
grid-template-columns:
repeat(3,minmax(180px,1fr));
}
}
/* TABLET PEQUENO */
@media(max-width:900px){
.image-grid{
grid-template-columns:
repeat(2,minmax(160px,1fr));
}
}

/* MOBILE */
@media(max-width:600px){
.image-grid{
grid-template-columns:
1fr;
}
}
